//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 16 02:12:58 2021
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P123" LEVEL 1;
COMP "rst" LOCATE = SITE "P47" LEVEL 1;
COMP "lcd_db<0>" LOCATE = SITE "P111" LEVEL 1;
COMP "lcd_db<1>" LOCATE = SITE "P112" LEVEL 1;
COMP "lcd_db<2>" LOCATE = SITE "P114" LEVEL 1;
COMP "lcd_db<3>" LOCATE = SITE "P115" LEVEL 1;
COMP "lcd_db<4>" LOCATE = SITE "P116" LEVEL 1;
COMP "lcd_db<5>" LOCATE = SITE "P117" LEVEL 1;
COMP "lcd_db<6>" LOCATE = SITE "P118" LEVEL 1;
COMP "lcd_db<7>" LOCATE = SITE "P119" LEVEL 1;
COMP "ps2_clk" LOCATE = SITE "P5" LEVEL 1;
COMP "lcd_e" LOCATE = SITE "P105" LEVEL 1;
COMP "ps2_data" LOCATE = SITE "P7" LEVEL 1;
COMP "lcd_rs" LOCATE = SITE "P102" LEVEL 1;
COMP "lcd_rw" LOCATE = SITE "P104" LEVEL 1;
SCHEMATIC END;

