

NET "lcd_db[1]" LOC = P112;
NET "lcd_db[2]" LOC = P114;
NET "lcd_db[4]" LOC = P116;
NET "lcd_db[5]" LOC = P117;
NET "lcd_db[6]" LOC = P118;
NET "lcd_db[7]" LOC = P119;
NET "clk" LOC = P123;
NET "lcd_e" LOC = P105;
NET "lcd_rs" LOC = P102;
NET "lcd_rw" LOC = P104;
NET "rst" LOC = P47;
NET "lcd_db[0]" LOC = P111;


NET "lcd_db[3]" LOC = P115;


NET "ps2_clk" LOC = P5;
NET "ps2_data" LOC = P7;


NET "ps2_clk2" LOC = P2;
NET "ps2_clk_out" LOC = P143;
NET "ps2_data2" LOC = P141;
NET "ps2_data_out" LOC = P139;


NET "mode" LOC = P55;

# PlanAhead Generated physical constraints 

NET "modeSel" LOC = P67;
