

NET "lcd_rw" LOC = P104;
NET "lcd_rs" LOC = P102;
NET "lcd_e" LOC = P105;
NET "lcd_data[0]" LOC = P111;
NET "lcd_data[1]" LOC = P112;
NET "lcd_data[2]" LOC = P114;
NET "lcd_data[3]" LOC = P115;
NET "lcd_data[4]" LOC = P116;
NET "lcd_data[5]" LOC = P117;
NET "lcd_data[6]" LOC = P118;
NET "lcd_data[7]" LOC = P119;
NET "ps2_clk" LOC = P5;
NET "ps2_data" LOC = P7;
NET "clk" LOC = P123;
NET "lcd_rst" LOC = P45;




NET "debug_data[0]" LOC = P82;
NET "debug_data[1]" LOC = P81;
NET "debug_data[2]" LOC = P80;
NET "debug_data[3]" LOC = P79;
NET "debug_data[4]" LOC = P78;
NET "debug_data[5]" LOC = P75;
NET "debug_data[6]" LOC = P74;
NET "debug_data[7]" LOC = P67;

# PlanAhead Generated physical constraints 

NET "debug_add[0]" LOC = P66;
NET "debug_add[1]" LOC = P62;
NET "debug_add[2]" LOC = P61;
NET "debug_add[3]" LOC = P59;
